#bg{
background-color:rgb(215, 245, 204);
}
#head{
text-align:center;
color:white;
background-color:green;
padding-top:10px;
padding-bottom:5px;
border:1px solid transparent;
}
.ques-container{
border:3px grey double;
background:white;
padding:20px;
border-radius:40px;
margin-left:2%;
height:auto;
width:90%;
margin-right:7%;
font-size:20px;
}
.submit{
color:white;
font-size:100%;
background:darkgreen;
}
#submitall{
color:black;
background:#73ff81;
border:3px groove black;
font-size:30px;
text-align:center;
padding-top:30px;
padding-bottom:30px;
padding-right:40%;
padding-left:40%;
display:block;
width:auto;
}
#score{
text-align:center;
}
#scorecard{
  color:black;
  background: white;
  text-align:center;
  border:3px double black;
  padding:10px;
}
#correct{
color:white;
background:grey;
width:50%;
padding:10px;
text-align:center;
display:none;
}
.op{
  font-size:20px;
  padding:5px;
  }
input[type=radio]{
    transform:scale(1.5);
    padding-top:50px;
 }
  #total{
  display:block;
  }
  #instruct{
  color:black;
  text-align:center;
  background:white;
  font-size:20px;
  border:2px solid black;
  padding:5px;
  }
  #ib{
  background:white;
  color:black;
  border:2px double grey;
  width:70%;
  margin-left:15%;
  height:auto;
  display:none;
  padding:10px;
  margin-top:30px;
  }
  #closer{
  background:red;
  color:white;
  font-weight:100%;
  }
  #closer:hover{
  color:red;
  background:grey;
  }
  #timer{
  color:#98ff4f;
  background:#2e2e2e;
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  padding:10px;
  font-size:30px;
  border:3px solid black;
  width:20%;
  margin:auto;
  display:block;
  }
#form{
  background:greenyellow;
  border:3px gold solid;
  padding:40px;
  width:35%;
  margin:auto;
  margin-top:20%;
  border-radius:20px;
}
#center{
  text-align:center;
}
.inn{
  font-size:20px;
  font-weight: bolder;
}
#sub{
  text-align:center;
  background:rgb(248, 220, 169);
  border:2px yellow double;
  font-size:15px;
  font-weight: bolder;
  padding:7px;
}
